---
import H1 from "../components/atoms/H1.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
type Props = {};

const {} = Astro.props;
---

<BaseLayout>
  <div class="flex-1">
    <H1 title="About" />
  </div>
</BaseLayout>
