---
type Props = {};

const {} = Astro.props;
---

<button
  aria-expanded="false"
  aria-controls="main-menu"
  class="bg-teal-700 text-white text-xl font-bold px-2.5 py-1 invisible menu"
>
</button>
